.card {
  position: absolute;
  top: 50%;
  left: 50%;
  height: $size-527;
  width: $size-327;
  padding: $space-24;
  background: $white;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  overflow: hidden;

  &__title {
    display: flex;
    align-items: center;
    gap: $space-24;
    margin-bottom: $space-4;
    color: $dark-purple;
    font-size: $text-32;
    font-weight: $font-bold;
  }

  &__icon {
    display: inline-block;
    height: 24px;
    width: 24px;
  }
}
