.card {
  position: absolute;
  top: 50%;
  left: 50%;
  height: $size-527;
  width: $size-327;
  padding: $space-24;
  background: $white;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 32px 56px rgba(80, 0, 118, 0.1);

  &__title {
    display: flex;
    align-items: center;
    gap: $space-24;
    color: $dark-purple;
    font-size: $text-32;
    font-weight: $font-bold;
  }

  &__icon {
    display: inline-block;
    height: $size-24;
    width: $size-24;
  }
}

@media (min-width: $breakpoint-tablet) {
  .card {
    height: $size-565;
    width: $size-600;
    padding: $space-40;
    border-radius: 16px;

    &__title {
      font-size: $text-56;
      margin-bottom: $space-8;
    }

    &__icon {
      height: $size-40;
      width: $size-40;
    }
  }
}
