.collapse {
  padding: $space-20 0;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: $dark-purple;
    font-size: $text-16;
    font-weight: $font-semibold;
  }

  &__question {
    width: $size-225;
  }

  &__content {
    max-height: 0;
    color: $grayish-purple;
    line-height: $line-height-150;
    font-size: $text-14;
    font-weight: $font-regular;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }

  &.active &__content {
    margin-top: $space-24;
    max-height: 500px;
    opacity: 1;
  }

  &:not(:first-of-type) {
    border-top: 1px solid $light-pink;
  }
}

@media (min-width: $breakpoint-tablet) {
  .collapse {
    padding: $space-24 0;

    &__header {
      font-size: $text-18;
      cursor: pointer;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $pink;
      }
    }

    &__question {
      width: $size-450;
    }

    &__content {
      font-size: $text-16;
    }

    &.active &__content {
      max-height: 520px;
    }
  }
}
