.header {
  &__decorator {
    height: $size-232;
    width: 100%;
    display: inline-block;
    object-fit: cover;
    object-position: center center;
  }
}

@media (min-width: $breakpoint-tablet) {
  .header__decorator {
    height: $size-320;
  }
}
