.header {
  &__decorator {
    height: 232px;
    width: 100%;
    display: inline-block;
    object-fit: cover;
    object-position: center center;
  }
}

@media (min-width: $breakpoint-tablet) {
  .header__decorator {
    height: 320px;
  }
}
